@charset "utf-8";

body{
    background-image: url(https://github.com/my1105/tetris.js/blob/main/nordwood-themes-9a58YsGiTPk-unsplash.jpg?raw=true);
}

.content h1{
    color: rgb(243, 241, 248);

 }

 .content h2{
    color: rgb(243, 242, 247);

 }
 .content button{
     background-color: aqua;
 }

 
